<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Library Management System</display-name>
    
    <!-- Welcome file -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <!-- Register Servlet -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Borrow Book Servlet -->
    <servlet>
        <servlet-name>BorrowBookServlet</servlet-name>
        <servlet-class>servlet.BorrowBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorrowBookServlet</servlet-name>
        <url-pattern>/borrow-book</url-pattern>
    </servlet-mapping>

    <!-- Return Book Servlet -->
    <servlet>
        <servlet-name>ReturnBookServlet</servlet-name>
        <servlet-class>servlet.ReturnBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReturnBookServlet</servlet-name>
        <url-pattern>/return-book</url-pattern>
    </servlet-mapping>

    <!-- Add Book Servlet -->
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>servlet.AddBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/add-book</url-pattern>
    </servlet-mapping>

    <!-- Delete Book Servlet -->
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>servlet.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/delete-book</url-pattern>
    </servlet-mapping>

</web-app>